@import "mixin";

$cyan: #47d1d1;
$cyan2: #ccffee;

section{
  padding: 80px 0;
}

.bg{
  background-color: $cyan2;
  color: white;
}

.nav-bar{
  background-color: $cyan;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 10px 40px;
  >h1{
    @include b_box;
    font-weight: normal;
    color: white;
  }
  &-btns{
    @include fb;
    @include justify(space-around);
    @include align(center);
    width: 20%;
  }
  &-btn{
    @include remb(24px);
    color: white;
    text-decoration: none;
  }
}

.box{
  @include wrap();
  >h2{
    @include remb(42px);
  }
}

.post{
  h2{
    @include remb(42px);
    color: $cyan;
  }
  p{
    @include rem(18px);
    margin-bottom: 20px;
  }
}

.main-card{
	@include wrap;
	@include b_box;
	box-shadow: 20px 20px 5px $cyan2;
	color: white;
	background-color: $cyan;
	padding: 20px;
	h2{

	}
}